<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        bootstrap                   = "vendor/autoload.php"
>

    <testsuite name="Functional command">
        <file>src/ChainCommandBundle/Tests/Command/CommandChainTest.php</file>
        <file>src/ChainCommandBundle/Tests/Command/CommandChainUnitTest.php</file>
    </testsuite>

    <php>
        <env name="SYMFONY_ENV" value="test"/>
        <env name="SYMFONY_DEBUG" value="0"/>
        <server name="KERNEL_CLASS" value="App\Kernel" />
    </php>
</phpunit>